@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f0f2f5;
}
.container{
    width: 400px;
    margin: 50px auto;
    text-align: center;
}
.container img{
    width: 240px;
}
.container-form{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #dddfe2;
}
.container-interno-ref{
    padding: 20px;
}
.container-form p{
     padding: 10px;
     font-size: 18px;
     margin: 10px 0;
}
.container input{
    padding: 14px 16px;
    border-radius: 6px;
    font-size: 17px;
    margin: 8px 0;
    width: 330px;
    border: 1px solid #c9c9c9;
}
.container-form input::placeholder{
    color: #9e949c;
}
.container button{
    background-color: #001eff;
    color: #fff;
    width: 330px;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.container-form button:hover{
    background-color: #096bec;
}
.container-interno-ref a{
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: #1891f5;
}